# Environment variables declared in the .env file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Below you can find the examples for the environment variables used in this project backend.
# *** Copy them to YOUR OWN .env FILE ***, in the root of the backend folder, and replace the placeholder values with your own values.
# IMPORTANT: Ensure that your `.env` file is not included in version control for security.

# MongoDB connection string
DATABASE_URL="mongodb://localhost:27017/YOUR_DATABASE_NAME" # Replace 'YOUR_DATABASE_NAME' with the actual database name.

# If your MongoDB is running on a different port, replace '27017' with the actual port number.
# If your MongoDB requires authentication, use the format:
# DATABASE_URL="mongodb://username:password@localhost:27017/YOUR_DATABASE_NAME". Replace 'username', 'password', and 'YOUR_DATABASE_NAME' with the actual values.

# If you are using MongoDB Atlas, use the connection string provided by MongoDB Atlas in the format:
# DATABASE_URL="mongodb+srv://<cluster_username>:<cluster_password>@cluster0.e7o7d.mongodb.net/<database_name>?retryWrites=true&w=majority&appName=<cluster_name>"
# Replace '<cluster_username>', '<cluster_password>', and '<database_name>', with the actual values.
# The connection string will be provided by MongoDB Atlas in the format above, you just need to replace the placeholders with the actual values.
# The dabase name will be inserted in the connection string, as shown above, after the last '/'.

# Server port
PORT=5000 # Replace '5000' with the port number if different, default is usually 3000 but this is likely to be in use by the frontend.