.sidebaritems li{
    padding: 10px;
    font-family: cursive;
}

 .sidebaritems  li a img{
    padding-right: 18px;
}
.logout{
    /* width: 80%; */
    font-size: 18px;
    font-family: cursive;
    list-style: none;
    display: block;
    border-top: 2px solid black;
}