# Environment variable template for the HRMS frontend application
# Copy this file to .env.local (this file will be created on your local branch)
# Fill in the values for the environment variables in your .env.local file with the appropriate values

# For example use something like this if you run your server locally (replace 5000 with your local port if the case)
#NEXT_PUBLIC_BACKEND_BASE_URL="http://localhost:5000"

# Or use this for deployment:
NEXT_PUBLIC_BACKEND_BASE_URL="https://poc-hrms-backend.onrender.com"

# Employee backend endpoint for employee CRUD operations
NEXT_PUBLIC_EMPLOYEE_ENDPOINT="/api/v1/employee"

# Login endpoint for user authentication
NEXT_PUBLIC_LOGIN_ENDPOINT="/api/v1/auth/login"
